* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

/* .love-ya-like-a-sister-regular  */
        font-family: "Love Ya Like A Sister", cursive;
        font-weight: 400;
        font-style: normal;
      }
      


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1313d790;
}

.quote-container {
    text-align: center;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    background-color: #ddecdc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #090909;
}

#quote {
    font-size: 18px;
    color: #b53cca;
    margin: 20px 0;
}

#author {
    font-size: 16px;
    color: #d01616;
    font-style: italic;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #11a427;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}